.box01 {
  font-size: 12px;

  &-accent {
    color: #ff1493;
  }
}

.box02 {
  font-size: 20px;

  &-accent {
    color: #03a9f4;
  }
}

.box03 {
  font-size: 30px;

  &-accent {
    color: #006400;
  }
}